.rt-extension-update-history-box {
    height: 600px;
    overflow: auto;
}

.rt-extension-update-history-info {
    padding: 1em;
}

.rt-extension-update-history-info p {
    margin: 0;
    padding: 1em;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    background-color: cornflowerblue;
}

/* Responsive styles START */

.sidebyside #ticket-update-metadata {
    float: none;
    width: 100%;
}

.sidebyside #ticket-update-message {
    float: none;
    width: 100%;
}

@media (min-width: 1200px) {
    .sidebyside #ticket-update-metadata {
        float: right;
        width: 40%;
    }

    .sidebyside #ticket-update-message {
        float: left;
        width: 58%;
    }

    .rt-extension-update-history-box {
        float: right;
        width: 40%;
    }
}

/* Responsive styles END */
